node_modules/
site/dist/
docs/site/
*.pyc
__pycache__/
.DS_Store
mkdocs.log

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
