pywinrm
pywinrm[credssp]
botocore
boto3
python-ldap
kubernetes
ansible-builder
# VMware dynamic inventory (community.vmware.vmware_vm_inventory)
pyvmomi
# vSphere Automation SDK - required for the with_tags feature (tag syncing)
git+https://github.com/vmware/vsphere-automation-sdk-python.git